@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700");
html, body {
    font-family: 'Anaheim', sans-serif;
    font-weight: 400; 
    background-color: #caf5e3;
    text-align: center;
    cursor: url(https://image.flaticon.com/icons/png/128/99/99181.png), 10 10, pointer;
}

/*
.animate {
    animation: type 5s setps(14);
    overflow: hidden;
    white-space:nowrap;
    border-right:4px solid black;
    width:14ch;
}
*/

h2, p, a {
    font-family: 'Anaheim', sans-serif;
    font-weight: 400; 
}

@keyframes type {
    0% {
        width:0ch;
    }
    100% {
        width:14ch;
    }
}



.test {
    width:32;
    height:32;
    cursor:url('bluepurplecursor.png'), auto;
}

a:link, a:visited, a:active {
    color: rgb(211, 161, 161); 
}
a:hover {
    color: rgb(209, 124, 124); 
}

/*
.bluepurplecursor {
    cursor: url('bluepurplecursor.png'),auto;
}
*/

/* 'https://p7.hiclipart.com/preview/1001/207/724/computer-mouse-pointer-cursor-arrow-computer-icons-mouse-cursor.jpg' */ 

/* super big blue purple arrow https://lh3.googleusercontent.com/fk4Bw3or_LYXi5FdTTyBFuEsGU0SbVx48Bq7jw7f9kYQUDA5h48jNEzB-C1KyC7m9ThQSpAL=w128-h128-e365 */ 