@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700");
html, body {
    font-family: 'Anaheim', sans-serif;
    font-weight: 400; 
    background-color: #caf5e3;
    text-align: center;
}

h2, p, a {
    font-family: 'Anaheim', sans-serif;
    font-weight: 400; 
}

.test {
    width:100px;
    height:100px;
    cursor:url('bluepurplecursor.png'), auto;
}


